/* css styles */
.center h4 {
  text-align: center;
}

.box1 {
  position: flex;
  flex-wrap: wrap;
  top: 150px;
  left: -100px;
  width: 70%;
  padding: 20px;
  color: rgb(255,255,255);
  background-color: rgba(0,0,0, 0);
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0.25;
  width: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
